#songListPagination {
  .pagination {
    justify-content: center;
    li, a {
      cursor: pointer;
    }
  }
}

#songListFilters {
  .filterItem {
    padding-bottom: 1.25rem;
    input, select {
      max-width: 300px;
    }
  }
  .filterItem.alignLeft {
    margin-right: auto;
  }
  .filterItem.alignRight {
    margin-left: auto;
  }

  .filterItem.sortBy {
    display: flex;
    justify-content: flex-end;
    .label {
      white-space: nowrap;
      line-height: 35px;
      padding-right: 1em;
    }
  }
}

.sort .caretDown {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-bottom: 0 dotted;
  border-left: 4px solid transparent;
  content: "";
}

.sort .caretUp {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-bottom: 4px solid #000000;
  border-left: 4px solid transparent;
  border-top: 0 dotted;
  border-right: 4px solid transparent;
  content: "";
}
