.chordline {
    position: relative;
    line-height: 150%;
    margin-left: -1em;
    padding-left: 1em;
}

.chordline .chord-chars {
    display: none;
}

.chordline .phrase-style > .chord {
    word-wrap: normal;
    color: red;
    line-height: 250%;
    vertical-align: bottom;
    display: inline-block;
    position: relative;
    font-weight: bold;
    top:-8px;
    width: 0;
}

.chordline .comment {
    color: grey;
}

.chordline .chorus {
    border-left: 3px solid black;
    padding-left: 1em;
}

#song .capo {
    background-color: lightgray;
}