.songFileItem li.disabled {
  color: #ddd;
}

#importSongs {
  .dropzone {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #20a8d8;
    margin: 1em;
    padding: 1em;
  }

  .statsCategory {
    margin-bottom: 1em;
    padding: 0 1em;

    h5 {
      text-align: center;
      border-bottom: 1px solid black;
    }

    .statsValue {
      padding-bottom: 1em;
    }

    .statsErrors {
      float: right;
    }
  }
}