$spacingItems: 10px;

#songListDroppable {
  .cardHeader {
    flex: none;
  }
  .listGroup {
    flex: auto;

    .droppable {
      flex: auto;

      .songItem {
        padding: $spacingItems 0;
        position: relative;
      }

      div:not(:last-child) {
        .songItem:not(.isDragging):after {
          content: '';
          width: 0; 
          height: 0; 
          position: absolute;
          right:50%;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          
          border-top: 20px solid #29363d;
        }
      }
      div:not(:first-child) {
        .songItem:not(.isDragging):before {
          content: '';
          width: 0; 
          height: 0; 
          position: absolute;
          top: -10px;
          right:50%;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
          
          border-top: 20px solid #29363d;
        }
      }
    }
  }
}

#songsDraggable {
  #songsFilters {
    margin: 0 1em;
  }

  .listGroup {
    overflow: auto;
    height: 100%;
    padding-top: $spacingItems;
    padding-bottom: 1.5em;
    margin-bottom: 1em;

    div > div:last-child > .draggable .songItem {
      padding-bottom: 0;
    }

    .draggable {
      position: relative;
      padding: 0;
      margin: (-2)*$spacingItems 0;

      .songItem {
        padding: $spacingItems 0;
      }
    }
  }
}