.modal {
    text-align: center;
    padding: 0!important;
  }
  
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  
.modal-dialog {
    display: inline-block;
    width: 100% !important;
    text-align: left;
    vertical-align: middle;
}