.table .teamListItem td {
    padding: 0;
}
.table td.teamListDelete {
    width: 1%;
    white-space: nowrap;
    color: red;
    padding:0.75em;
}
.teamListLink {
    display:block;
    margin: 0 auto;
    padding:0.75em;
}